html,body {
    margin: 0;
    padding: 0;
  }

body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
}

#overlay {
    background-image: url('assets/galaga-bg.png');
    padding: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
}

#highScore {
      color: red;
}

h1, h2 {
    font-family: 'Press Start 2P', monospace;
    color: white;
    font-size: 15px;
    margin: 1px;
}
  
canvas {
    background-color: black;
    width: 350px;
    height: 600px;
}

.titleC {
    max-width: 400px;
    position: absolute;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.instructionsC {
    max-width: 600px;
    position: absolute;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 0;
}

#startBtn {
    border: none;
    background: none;
    font-family: 'Press Start 2P', monospace;
    color: rgb(255, 0, 0);
    font-size: 30px;
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
}
  
#startBtn:focus {outline:0;}

#startBtn:hover {
    color: rgb(255, 82, 82);
}
  
#container {
    width: 350px;
    background-color: black;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    display: grid;
    grid-gap: 0;
    grid-template-rows: .05fr .90fr .05fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-middle top-right"
                        "game game game"
                        "btm-left btm-middle btm-right";
}
  
#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255 0);
}

#top-left {
    padding-top: 20px;
    grid-area: top-left;
    display: none;
}
#top-middle {
    display: none;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}
    
#btm-left {
    grid-area: btm-left;
}
  
#btm-right {
    grid-area: btm-right;
}

