html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 6em;
    text-align: center;
    background-color: white;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
  }
  
  #highScore {
      color: red;
  }

  h1, h2 {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: white;
    font-size: 15px;
    margin: 1px;
  }
  
  canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-color: black;
    width: 350px;
    height: 600px;
  }
  
  #title {
    border: none;
    background: none;
    position: absolute;
    top: 56%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
  }

#startBtn {
    border: none;
    background: none;
    font-family: 'Press Start 2P', monospace;
    color: rgb(36, 255, 47);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  #startBtn:focus {outline:0;}

  #startBtn:hover {
    color: rgb(0, 185, 0);
  }
  
  #container {
  max-width: 350px;
  /* height: 70vh; */
  background-color: black;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: .05fr .90fr .05fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-middle top-right"
                        "game game game"
                        "btm-left btm-middle btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255 0);
}

#top-left {
    padding-top: 20px;
    grid-area: top-left;
    display: none;
}
#top-middle {
    display: none;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}
    
    
#btm-left {
    grid-area: btm-left;
}
  
#btm-right {
    grid-area: btm-right;
}

