html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 6em;
    text-align: center;
    background-color: white;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: goldenrod;
    font-size: 15px;
    margin: 1px;
  }
  
  canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-color: #222;
    width: 350px;
    height: 600px;
  }
  
  #container {
  max-width: 350px;
  /* height: 70vh; */
  background-color: #222;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: .05fr .90fr .05fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-middle top-right"
                        "game game game"
                        "btm-left btm-middle btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
  }
  
  #btm-right {
    grid-area: btm-right;
  }

